extends layout

block content
	#all.abs.all.fullW.left0.right0.topframeline.bottomframeline.typo
		#universe.abs.universe.topMarged.bottomMarged.left0.right0
			
			#frame.abs.frame.top0.right0.left0.bottom0
				#zone.zone.abs.floatL
				#sidecode.sidecode.none.abs.right0.top0.bottom0.context.antBG.txtL.bold.zi3.sizeSm
					textarea.abs.left0.right0.fullW.padding.antBG.bd0.foggy.typo3(style="bottom:2em;top:2em")
		
		
		.abs.bottom0.left0.bottomcontents.bottomframeline.fullW
			.leftovers.HpadSm
				.descinside.pad
					.sizeSm.txtR
						span.thin
							span.copyyear.light 2017-2018
							span.pentoneF @license :
							span.light MIT
							span.pentoneF @author :
							span.author sazaam
								span.shady (at)gmail.com
		
		
	#header.header.abs.typotitle.topframeline.left0.right0.txtL
		.headerinside.context.VpadXLg
			
			.home.floatL
				h1.logo.sizeXXLg.txthR.lhR
					a.block.HpadSm.context(href="#/en/intro/")
						b.block.floatL.bold.pentoneE Be
						span.block.floatL.thin.white tween
				h2.none Tweening Engine for Javascript
	
	


	script( type="text/javascript", src="/js/nodeless_app/node_modules/trace.js" )
	script( type="text/javascript", src="/js/nodeless_app/node_modules/type.js" )
	script( type="text/javascript", src="/js/nodeless_app/node_modules/betweenjs.js" )
	script( type="text/javascript", src="/js/nodeless_app/node_modules/node_modules/jquery-1.8.1.min.js" )


	script( type="text/javascript", src="/js/strawnode.js" )
	script( type="text/javascript", src="/js/nodeless_app/node_modules/strawexpress.js" )
	script( type="text/javascript", src="/js/nodeless_app/node_modules/strawjade.js" )

	script( type="text/javascript", src="/js/nodeless_app/index.js" )