doctype html
html(lang="en").rel.fullW.fullH.context.antBG
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="viewport", content="width=device-width, initial-scale=.7")
		meta(name="viewport", content="height=device-height, initial-scale=.7")

		title= title

		link(rel="stylesheet", type="text/css", href="/css/plug/default.css")
		link(rel="stylesheet", type="text/css", href="/css/plug/base.css")
		link(rel="stylesheet", type="text/css", href="/css/font.css")
		link(rel="stylesheet", type="text/css", href="/css/helpers.css")
		link(rel="stylesheet", type="text/css", href="/css/mq.css")
		link(rel="stylesheet", type="text/css", href="/css/all.css")

	body.typo.txtC.anthrax.sizeM
		block content
