.abs.fullW.bottom0.left0.context.txtL
	.simple
		.BmarXXXLg.LmarXXXLg
			h2.bold.pentoneE.sizeXLg BetweenJS / BTW
			
			p.Tmargin.lsXLg is the Javascript Tweening <br /> Library
				span.block.foggy.sizeSm.lhR.Tmar
					| for one-and-all frontend purposes.
		
			.downlink.TmarXLg.context
				a.link.block.floatL.bold.sizeSm.pentoneblock.rounded.pad(href="#/en/examples/")
					| Browse Examples
			.abs.backlink.bottom0.left0.LmarXXXLg.context.none
				a.link.block.floatL.bold.sizeXSm.pentoneblock.rounded.padSm(href="#/en/intro/")
					| Back